<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mars_Monitor</title>

    <link rel="stylesheet" href="/static/jquery-ui.min.css">
    <script src="/static/external/jquery/jquery.js"></script>
    <script src="/static/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    {#    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/styles.css') }}">#}
</head>
<body>

<h1 style="text-align: center">MARS MONITORING STATION</h1>
<div style="text-align: center">
    <button onclick="add_widget()" style="font-size: large; margin: 1em 0 0 0;">Add a new printer!</button>
</div>
<div class="popuptext" id="myPopup">
        <h1>ADD A NEW PRINTER</h1>
        <table>
            <tr>
                <td>Printer Name</td>
                <td><input required name="printer_name"></td>
            </tr>

            <tr>
                <td>IP Address</td>
                <td><input required name="ip_address"></td>
            </tr>
        </table>
        <button onclick="create_widget(document.getElementsByName('printer_name'), document.getElementsByName('ip_address'))">Submit</button>
</div>

<div class="flex_container">
    <ul style="list-style-type: none" class="ul_sort">
        {% for i in printer_list %}
            <li class=".drag">
                <div class="widget_resizable">
                    <div class="widget">
                        <div>
                            <h1 style="display: inline" title="{{ i.printer_name }}">{{ i.printer_name }}</h1>
<!--                            <form action="/remove_widget" method="post" style="display: inline">-->
<!--                                <input hidden name="printer_name" value="{{ i.printer_name }}">-->
                                <button style="float: right" onclick="delete_widget('{{ i.printer_name }}')">X</button>
<!--                            </form>-->
                            <p><strong>IP Address:</strong> {{ i.ip_address }}</p>
                        </div>

                        <div class="button_div">
                            <button onclick="sendMessage({'{{ i.printer_name }}': {'func': 'pause', 'extra': ''}})">Pause Printer</button>
                            <button onclick="sendMessage({'{{ i.printer_name }}': {'func': 'stop', 'extra': ''}})">Stop Printer</button>
                        </div>
                        <div>
                            <h3>Files available on Printer</h3>
                            <select size="10" class="file_select" id="{{ i.printer_name }}_files">
                                <option></option>
                            </select>

                        </div>
                        <div id="{{ i.printer_name }}_progressbar" class="pbar"><span></span></div>
                        <div class="button_div">
                            <button onclick="sendMessage({'{{ i.printer_name }}': {'func': 'files', 'extra': ''}})">Refresh File List</button>
                            <button onclick="sendMessage({'{{ i.printer_name }}': {'func': 'start', 'extra': $('#{{ i.printer_name }}_files').val()}})">Start Print</button>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
{#<script type="application/javascript" src="/static/jquery-3.4.1.min.js"></script>#}
{#<script type="application/javascript" src="{{ url_for('static', path='/jquery-3.4.1.min.js') }}"></script>#}
<script type="application/javascript" src="/static/scripts.js"></script>
{#<script type="application/javascript" src="{{ url_for('static', path='/scripts.js') }}"></script>#}
</html>